<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>XYZ Bank Churn Review</title>
    <meta name="description" content="Use machine learning to predict who is going to get churned">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="header-row" id="header-row">
    </div>
    <div class="wrapper" id="wrapper" style="padding: 20px; width: 800px; max-width: 95%; margin: auto">
        <form class="row g-3">
            <div class="col-md-3">
                <label for="validationDefault01" class="form-label">Customer Age</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Enter the customer's age..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault02" class="form-label">Gender</label>
                <select class="form-select" id="validationDefault02" required style="font-size: 13px">
                    <option selected disabled>Choose...</option>
                    <option value=0>Female</option>
                    <option value=1>Male</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="validationDefault03" class="form-label">Dependants</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Number of dependants" required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">Marital Status</label>
                <select class="form-select" id="validationDefault04" required style="font-size: 13px">
                    <option selected disabled>Choose...</option>
                    <option value=0>Divorced</option>
                    <option value=1>Married</option>
                    <option value=2>Single</option>
                    <option value=3>Unknown</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="validationDefault05" class="form-label">Education Level</label>
                <select class="form-select" id="validationDefault05" required style="font-size: 13px">
                    <option selected disabled>Choose...</option>
                    <option value=1>Unknown</option>
                    <option value=2>Uneducated</option>
                    <option value=3>High School</option>
                    <option value=4>College</option>
                    <option value=5>Graduate</option>
                    <option value=6>Post-Graduate</option>
                    <option value=7>Doctorate</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="validationDefault06" class="form-label">Income Category</label>
                <select class="form-select" id="validationDefault06" required style="font-size: 13px">
                    <option selected disabled>Choose...</option>
                    <option value=1>Unknown</option>
                    <option value=2>Less than $40K</option>
                    <option value=3>$40K - 60K</option>
                    <option value=4>$60K - $80K</option>
                    <option value=5>$80K-$120K</option>
                    <option value=6>$120K +</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="validationDefault07" class="form-label">Card Category</label>
                <select class="form-select" id="validationDefault07" required style="font-size: 13px">
                    <option selected disabled value="">Choose...</option>
                    <option value=1>Blue</option>
                    <option value=2>Silver</option>
                    <option value=3>Gold</option>
                    <option value=4>Platinum</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="validationDefault08" class="form-label">Months on book</label>
                <input type="text" class="form-control" id="validationDefault08" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault09" class="form-label">Total relationship Count</label>
                <input type="text" class="form-control" id="validationDefault09" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault10" class="form-label">Months inactive 12 months</label>
                <input type="text" class="form-control" id="validationDefault10" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault11" class="form-label">Contacts last 12 months</label>
                <input type="text" class="form-control" id="validationDefault11" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault12" class="form-label">Credit limit</label>
                <input type="text" class="form-control" id="validationDefault12" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault13" class="form-label">Total revolving balance</label>
                <input type="text" class="form-control" id="validationDefault13" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault14" class="form-label">Avg open to buy</label>
                <input type="text" class="form-control" id="validationDefault14" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault15" class="form-label">Total amount change Q4-Q1</label>
                <input type="text" class="form-control" id="validationDefault15" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault16" class="form-label">Total transaction amount</label>
                <input type="text" class="form-control" id="validationDefault16" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault17" class="form-label">Total transaction count</label>
                <input type="text" class="form-control" id="validationDefault17" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault18" class="form-label">Total transaction count change</label>
                <input type="text" class="form-control" id="validationDefault18" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-md-3">
                <label for="validationDefault19" class="form-label">Avg utilization ratio</label>
                <input type="text" class="form-control" id="validationDefault19" placeholder="..." required style="font-size: 13px">
            </div>
            <div class="col-12"></div>
            <div class="col-12">
                <button id="btn" class="btn btn-primary" type="submit">Check customer</button>
            </div>
            
        </form>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <form id="myForm">
                    <input type="file" id="csvFile" accept=".csv" />
                    <br />
                    <input type="submit" value="Submit" />
                </form>
                <script>
                    const myForm = document.getElementById("myForm");
                    const csvFile = document.getElementById("csvFile");
                
                    function csvToArray(str, delimiter = ",") {
                
                    // slice from start of text to the first \n index
                    // use split to create an array from string by delimiter
                    const headers = str.slice(0, str.indexOf("\r\n")).split(delimiter);
                    //   headers = headers.split("\r")
                
                    // slice from \n index + 1 to the end of the text
                    // use split to create an array of each csv value row
                    const rows = str.slice(str.indexOf("\r\n") + 1).split("\r\n");
                    
        
                
                    // Map the rows
                    // split values from each row into an array
                    // use headers.reduce to create an object
                    // object properties derived from headers:values
                    // the object passed as an element of the array
                    const arr = rows.map(function (row) {
                        const values = row.split(delimiter);
                        const el = headers.reduce(function (object, header, index) {
                        object[header] = values[index];
                        return object;
                        }, {});
                        return el;
                    });
                
                    // return the array
                    return arr;
                    }
                
                    myForm.addEventListener("submit", function (e) {
                    e.preventDefault();
                    const input = csvFile.files[0];
                    const reader = new FileReader();
                
                    reader.onload = function (e) {
                        const text = e.target.result;
                        const data = csvToArray(text);
                        // document.write(JSON.stringify(data));
                        
                        console.log("Check data: ", data);
                        // data = data.split("\r");
        
        
                        
                        // https://pythonise.com/series/learning-flask/flask-and-fetch-api
                        fetch(
                            "/bulk", {
                            method: "POST",
                            body: JSON.stringify(data),
                            headers: {
                                "Content-type": "application/json; charset=UTF-8"
                            }
                        })
                        .then(function(response) {
                            if (response.status !== 200) {
                                console.log(`Looks like there was a problem. Status code`);
                                console.log(response.status);
                                // return;
                            }
                            else response.json().then(function(bulkoutcome) {
                                console.log(`prediction_list: ${bulkoutcome}`);
                                console.log(data)
                                console.log(`prediction_list[0]: ${bulkoutcome[0]}`)
                                console.log(`There are ${bulkoutcome.length} records in this table.`);
        
        
        
                                let cleartags = d3.select("#msg").selectAll("*").remove();
                                let cleartagsbulk = d3.select("#bulkmsg").selectAll("*").remove();
                                let predictionbox = d3.select("#bulkmsg");
                                addtable = predictionbox.append("table");
                                tableatttri = addtable.attr("id", "prediction_table")
                                    .attr("class", "table table-striped");
                                headerrow = addtable.append("thead").append("tr");
                                headercell1 = headerrow.append("th").text("Age");
                                headercell2 = headerrow.append("th").text("Gender");
                                headercell3 = headerrow.append("th").text("Dependants");
                                headercell4 = headerrow.append("th").text("Marital Status");
                                headercell5 = headerrow.append("th").text("Education");
                                headercell6 = headerrow.append("th").text("Income");
                                headercell7 = headerrow.append("th").text("Card");
                                headercell8 = headerrow.append("th").text("M.O.B");
                                headercell9 = headerrow.append("th").text("Relationships");
                                headercell10 = headerrow.append("th").text("Inactive");
                                headercell11= headerrow.append("th").text("Contacts");
                                headercell12 = headerrow.append("th").text("Credit");
                                headercell13 = headerrow.append("th").text("Revolving");
                                headercell14 = headerrow.append("th").text("Avg open");
                                headercell15 = headerrow.append("th").text("Amt Change");
                                headercell16 = headerrow.append("th").text("Total trans amt");
                                headercell17 = headerrow.append("th").text("Total trans count");
                                headercell18 = headerrow.append("th").text("Total trans change");
                                headercell19 = headerrow.append("th").text("Ratio");
                                headercell20 = headerrow.append("th").text("Prediction");
                                tbody = addtable.append("tbody");
        
                                let n = 0
                                data.forEach(function(tablevalues){
                                    // console.log("bulkoutcome[n]: " + bulkoutcome[n])
                                    var row = tbody.append("tr");
                                    Object.entries(tablevalues).forEach(function([key, value]) {
                                        // console.log(`value: ${value}`);
                                        var cell = row.append("td")
                                        cell.text(value);
        
                                    });
        
                                    let prediction = ""
                                    if (bulkoutcome[n] == 0) {
                                        prediction = "Churn Risk";
                                    }
                                    else if (bulkoutcome[n] == 1) {
                                        prediction = "Safe";
                                    }
                                    
                                    var predictcell = row.append("td")
                                    predictcell.text(prediction)
                                    n = n+1
                                    
                                }
                                )
        
                            });
                        }); 
        
        
                    };
                    
                    reader.readAsText(input);
                    });
        
                    
                </script>
            </div>
        </div>

        <div class="row">
            <br>
            <div class="col-md-12" id="msg">

                <pre></pre>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <!-- <div class="row">
            <br>
            <div class="col-md-12" id="bulkmsg">

                <pre></pre>
            </div> -->
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        <!-- </div> -->

    </div>
    <div class="wrapper" id="bulkmsg" style="padding: 20px; width: 1600px; max-width: 95%; margin: auto">
    </div>
    <script type="text/javascript" src="../static/js/app.js"></script>
    <!-- <script type="text/javascript" src="../static/js/app2.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    
    <div class="wrapper" id="wrapper" style="padding: 20px; width: 800px; max-width: 95%; margin: auto">
        <!-- https://sebhastian.com/javascript-csv-to-array/#:~:text=To%20parse%20a%20CSV%20string,the%20row%20as%20the%20values. -->
        <!-- https://github.com/nsebhastian/javascript-csv-array-example/blob/master/index.html -->
        <!-- <form id="myForm">
            <input type="file" id="csvFile" accept=".csv" />
            <br />
            <input type="submit" value="Submit" />
        </form>
        <script>
            const myForm = document.getElementById("myForm");
            const csvFile = document.getElementById("csvFile");
        
            function csvToArray(str, delimiter = ",") {
        
            // slice from start of text to the first \n index
            // use split to create an array from string by delimiter
            const headers = str.slice(0, str.indexOf("\r\n")).split(delimiter);
            //   headers = headers.split("\r")
        
            // slice from \n index + 1 to the end of the text
            // use split to create an array of each csv value row
            const rows = str.slice(str.indexOf("\r\n") + 1).split("\r\n");
            

        
            // Map the rows
            // split values from each row into an array
            // use headers.reduce to create an object
            // object properties derived from headers:values
            // the object passed as an element of the array
            const arr = rows.map(function (row) {
                const values = row.split(delimiter);
                const el = headers.reduce(function (object, header, index) {
                object[header] = values[index];
                return object;
                }, {});
                return el;
            });
        
            // return the array
            return arr;
            }
        
            myForm.addEventListener("submit", function (e) {
            e.preventDefault();
            const input = csvFile.files[0];
            const reader = new FileReader();
        
            reader.onload = function (e) {
                const text = e.target.result;
                const data = csvToArray(text);
                // document.write(JSON.stringify(data));
                
                console.log("Check data: ", data);
                // data = data.split("\r");


                
                // https://pythonise.com/series/learning-flask/flask-and-fetch-api
                fetch(
                    "/bulk", {
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
                .then(function(response) {
                    if (response.status !== 200) {
                        console.log(`Looks like there was a problem. Status code`);
                        console.log(response.status);
                        // return;
                    }
                    else response.json().then(function(bulkoutcome) {
                        console.log(`prediction_list: ${bulkoutcome}`);
                        console.log(data)
                        console.log(`prediction_list[0]: ${bulkoutcome[0]}`)
                        console.log(`There are ${bulkoutcome.length} records in this table.`);



                        let cleartags = d3.select("#msg").selectAll("*").remove();
                        let predictionbox = d3.select("#msg");
                        addtable = predictionbox.append("table");
                        tableatttri = addtable.attr("id", "prediction_table")
                            .attr("class", "table table-striped");
                        headerrow = addtable.append("thead").append("tr");
                        headercell1 = headerrow.append("th").text("Age");
                        headercell2 = headerrow.append("th").text("Gender");
                        headercell3 = headerrow.append("th").text("Dependants");
                        headercell4 = headerrow.append("th").text("Marital Status");
                        headercell5 = headerrow.append("th").text("Education");
                        headercell6 = headerrow.append("th").text("Income");
                        headercell7 = headerrow.append("th").text("Card");
                        headercell8 = headerrow.append("th").text("M.O.B");
                        headercell9 = headerrow.append("th").text("Relationships");
                        headercell10 = headerrow.append("th").text("Inactive");
                        headercell11= headerrow.append("th").text("Contacts");
                        headercell12 = headerrow.append("th").text("Credit");
                        headercell13 = headerrow.append("th").text("Revolving");
                        headercell14 = headerrow.append("th").text("Avg open");
                        headercell15 = headerrow.append("th").text("Amt Change");
                        headercell16 = headerrow.append("th").text("Total trans amt");
                        headercell17 = headerrow.append("th").text("Total trans count");
                        headercell18 = headerrow.append("th").text("Total trans change");
                        headercell19 = headerrow.append("th").text("Ratio");
                        headercell20 = headerrow.append("th").text("Prediction");
                        tbody = addtable.append("tbody");

                        let n = 0
                        data.forEach(function(tablevalues){
                            // console.log("bulkoutcome[n]: " + bulkoutcome[n])
                            var row = tbody.append("tr");
                            Object.entries(tablevalues).forEach(function([key, value]) {
                                // console.log(`value: ${value}`);
                                var cell = row.append("td")
                                cell.text(value);

                            });

                            let prediction = ""
                            if (bulkoutcome[n] == 0) {
                                prediction = "Churn Risk";
                            }
                            else if (bulkoutcome[n] == 1) {
                                prediction = "Safe";
                            }
                            
                            var predictcell = row.append("td")
                            predictcell.text(prediction)
                            n = n+1
                            
                        }
                        )

                    });
                }); 


            };
            
            reader.readAsText(input);
            });

            
        </script> -->
    </div>



</body>

</html>
